
body {
    font-family: Verdana, Geneva, sans-serif;
    display: flex;
    background-image: url('../../assets/fondo\ 1.jpg');
}
  
  
.main {
    
    color: rgb(255, 255, 255);
    margin: 30px; /* Centrar horizontalmente */
    max-width: 100%; /* Ancho máximo del contenido */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar verticalmente */
   
}

.container-fluid{
   
    background-color: rgba(168, 168, 168, 0);
    
    
}