<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-f7rOBUdGALVeX3yc1jAkzE1Dv7J4XofMhp56jkfw3RW4J4//nCj+xgRl5x5+8+JX" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>


<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/bienvenida">¡Bienvenido!</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mapas">Mapas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/armas">Armas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/vehiculos">Vehiculos</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<body>
<div class="main">
    <h1 id="bienvenida">¡VEHÍCULOS!</h1>
    <br>
    <p>Los vehículos en PUBG son elementos esenciales para la movilidad y la supervivencia de los jugadores en el campo de batalla. Estos vehículos incluyen automóviles, camionetas, motocicletas, botes y hasta helicópteros en algunos mapas. Los jugadores pueden usarlos para moverse rápidamente por el mapa, escapar de zonas peligrosas debido a la tormenta o el área de juego reducido, o emboscar a otros jugadores. Sin embargo, los vehículos también pueden ser una señal clara de la presencia de un jugador y pueden atraer la atención no deseada. En general, los vehículos son una herramienta valiosa para la estrategia y la supervivencia en PUBG.</p>
    <br>
       
    <div class="card" style="width: 50rem;">
        <img src="../../assets/img-vehicles-uaz.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">El UAZ es un vehículo todoterreno disponible en PUBG que ofrece a los jugadores una excelente movilidad tanto en carreteras como en terrenos accidentados. Este vehículo es conocido por su resistencia y capacidad para transportar hasta cuatro jugadores, lo que lo convierte en una opción popular para equipos completos. El UAZ puede atravesar terrenos difíciles con relativa facilidad y proporciona una buena protección contra el fuego enemigo gracias a su robusta construcción. Además, el UAZ puede ser equipado con accesorios como neumáticos todoterreno y una cubierta superior, lo que lo hace aún más versátil y útil en diferentes situaciones de juego. En resumen, el UAZ es un vehículo confiable y versátil en PUBG, ideal para moverse rápidamente y transportar equipos en el campo de batalla.</p>
        </div>
      </div>
      <br><br>
      <div class="card" style="width: 50rem;">
        <img src="../../assets/img-vehicles-buggy.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">El Buggy es un vehículo ligero y ágil disponible en PUBG, diseñado para el transporte rápido de uno o dos jugadores. Es conocido por su velocidad y maniobrabilidad, lo que lo convierte en una opción popular para moverse rápidamente por el mapa, especialmente en terrenos planos y abiertos. Aunque carece de protección contra el fuego enemigo, su capacidad para esquivar y evitar confrontaciones directas lo hace útil para recoger suministros y buscar nuevas ubicaciones estratégicas. El Buggy es especialmente útil en las etapas iniciales del juego, cuando los jugadores necesitan moverse rápidamente para asegurar equipo y posición en la zona segura. En resumen, el Buggy es un vehículo rápido y ágil en PUBG, ideal para la movilidad rápida y la exploración del mapa.</p>
        </div>
      </div>
      <br><br>
      <div class="card" style="width: 50rem;">
        <img src="../../assets/img-vehicles-motorglider.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">El motorglider es una aeronave de ala fija disponible en PUBG que ofrece a los jugadores una forma única de moverse por el mapa. Se puede encontrar en ciertas ubicaciones del mapa y puede transportar a un piloto y un pasajero. El motorglider es conocido por su velocidad y capacidad para cubrir grandes distancias rápidamente, lo que lo convierte en una opción valiosa para la exploración del mapa y la búsqueda de suministros. Además, puede ser útil para evitar conflictos terrestres y alcanzar ubicaciones remotas o difíciles de alcanzar. Sin embargo, el motorglider es vulnerable a los ataques desde el suelo y puede ser derribado fácilmente por fuego enemigo. En resumen, el motorglider ofrece una forma emocionante y rápida de moverse por el mapa en PUBG, pero requiere habilidad y precaución para utilizarlo de manera efectiva. </p>
        </div>
      </div>
      <br><br>
      <div class="card" style="width: 50rem;">
        <img src="../../assets/img-vehicles-boat.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">El bote es un vehículo acuático disponible en PUBG que permite a los jugadores navegar por cuerpos de agua en el mapa. Es especialmente útil en mapas con una gran cantidad de agua, como Erangel y Miramar. Los botes son rápidos y ágiles, lo que los hace ideales para moverse por ríos, lagos y costas, evitando áreas peligrosas o desplazándose rápidamente hacia nuevas ubicaciones estratégicas. Además, los botes son útiles para escapar de la tormenta o del área de juego reducido cuando el círculo se contrae hacia áreas acuáticas. Aunque carecen de protección contra el fuego enemigo, los botes pueden ser una herramienta valiosa para la movilidad y la supervivencia en PUBG, permitiendo a los jugadores explorar el mapa y tomar decisiones tácticas en función de la situación. En resumen, los botes son una opción esencial para la navegación en PUBG y pueden ser utilizados de manera efectiva para moverse rápidamente y evitar confrontaciones terrestres.</p>
        </div>


      </div>
      <br><br>
      <div class="card" style="width: 50rem;">
        <img src="../../assets/img-vehicles-ladaniva.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">El Lada Niva es un vehículo todoterreno disponible en PUBG que ofrece a los jugadores una excelente movilidad en una variedad de terrenos. Conocido por su resistencia y capacidad para adaptarse a terrenos difíciles, el Lada Niva es una opción popular para navegar por entornos accidentados y fuera de carretera. Puede transportar hasta cuatro jugadores y es ideal para explorar áreas remotas del mapa donde otros vehículos podrían tener dificultades para llegar. Aunque no es tan rápido como algunos de los vehículos más ligeros, su capacidad para atravesar terrenos difíciles lo hace valioso en situaciones donde la durabilidad es crucial. En resumen, el Lada Niva es un vehículo confiable y robusto en PUBG, ideal para los jugadores que buscan una opción resistente y versátil para sus viajes por el mapa.</p>
        </div>
      </div>
      <br><br>
      <div class="card" style="width: 50rem;">
        <img src="../../assets/img-vehicles-dirtbike.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">La dirtbike es un vehículo ligero y ágil disponible en PUBG, diseñado para proporcionar movilidad rápida y versátil en terrenos variados. Es conocida por su excelente capacidad para atravesar terrenos accidentados y escabrosos, como colinas, bosques y áreas montañosas. La dirtbike es ideal para explorar áreas remotas del mapa y para escapar rápidamente de situaciones peligrosas, gracias a su rápida aceleración y maniobrabilidad. Sin embargo, debido a su diseño ligero, la dirtbike ofrece poca protección contra el fuego enemigo, por lo que los jugadores deben tener cuidado al usarla en zonas de alto riesgo. En resumen, la dirtbike es un vehículo emocionante y útil en PUBG, perfecto para los jugadores que buscan una movilidad rápida y ágil en el campo de batalla.</p>
        </div>
      </div>
      <br><br>
      <div class="card" style="width: 50rem;">
        <img src="../../assets/img-vehicles-brdm.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">El BRDM-2 es un vehículo blindado disponible en PUBG que ofrece a los jugadores una excelente protección y movilidad en el campo de batalla. Es conocido por su resistencia al fuego enemigo y su capacidad para transportar a un equipo completo de cuatro jugadores. El BRDM-2 puede atravesar terrenos difíciles, como campos de batalla abiertos y terrenos accidentados, lo que lo convierte en una opción valiosa para moverse con seguridad por el mapa y enfrentarse a situaciones de combate intensas. Además, el BRDM-2 está equipado con un cañón automático que puede ser utilizado por los jugadores para enfrentarse a los enemigos con mayor facilidad. En resumen, el BRDM-2 es un vehículo formidable en PUBG, ideal para los jugadores que buscan protección y poder de fuego en el campo de batalla.</p>
        </div>
      </div>
</div>
</body>
</html>

